#promo {
  padding: 10px;
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
}

@media (min-width: 992px) {
  #promo {
    height: 80vh;
  }
}

@media (max-width:991px) {
  #promo {
    padding: 10px;
  }
}

#promo .jumbotron {
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width:991px) {
  #promo .jumbotron {
    padding: 10px;
  }
}

element.style {
  background-image: url(../../assets/img/lighthouse_bg.jpg);
}

img {
  vertical-align: middle;
  border-style: none;
}

.navbar-toggler {
  padding: .25rem .25rem;
  font-size: 1.5rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
}

a:hover {
  color: #58008f;
  text-decoration: blink;
  opacity: 0.96;
}

@media (min-width: 361px) {
  .d-inline-block {
    display: initial;
  }
}

